@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  primary: #000000;
  secondary: #742ff6;
}

/* Firefox */
* {
  scrollbar-width: thin;
  /* scrollbar-color: var(--secondary) var(--primary); */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.3125rem;
}

*::-webkit-scrollbar-track {
  /* background: #742ff6; */
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
